

@mixin transition($args...)
	-webkit-transition: $args
	transition: $args

@mixin flex
	display: -webkit-flex
	display: -ms-flexbox
	display: flex

@mixin flex-order($arg)
	-webkit-box-ordinal-group: $arg + 1
	-ms-flex-order: $arg
	order: $arg

@mixin transform($arg)
	-webkit-transform: $arg
	transform: $arg

@mixin on-hover-inactive-icon()
	opacity: 0.8
	i
		opacity: 0.8

@mixin on-hover-active-icon()
	opacity: 0.8
	i
		opacity: 0.8

@mixin active-icon()
	border-color: #FFD12F
	i
		background-position: left top
